@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main{
  margin: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.App-footer {
  margin: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* IMAGES */


.logo {
  pointer-events: none;
  width: 200px;
  height: auto;
}



/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

nav a {
  margin-right: 20px; 
  text-decoration: none;
  color: #78bb2c;
}

/* BUTTON */

.tripButton {
  background-color: #78bb2c;
  border: 1px solid #2a8b51;
  margin: 10px;
}

.tripButton:hover {
  background-color: #5fac35;
  border: 1px solid #2a8b51;
}

.tripButton:focus {
  box-shadow: 0 0 0 0.2rem #00000000; 
}

        

